POSTFIX_DOMAIN=example.com
POSTFIX_HOSTNAME=mail.example.com
JWT_SECRET=replacethiswithsomethingsecure

VITE_SITENAME=TempMail

# Text which instructs user to copy the email address by clicking
VITE_CLICKTOCOPY=Click to copy
# Text shown after user has copied the email address
VITE_COPYSUCCESS=Address copied!
# Title of sender column
VITE_SENDER=Sender
# Title of subject column
VITE_SUBJECT=Subject
# Sender email of initial instructions
VITE_INTROSENDER=admin@example.com
# Subject of initial instructions
VITE_INTROSUBJECT=About the service

# Optional instructions shown to the user when inbox is empty
VITE_WELCOME=Welcome to your example.com email address! This message will disappear when you receive an actual message.
VITE_Q1=What is this service?
VITE_A1=A disposable email address. You can use it for example to register to websites where you don't want to use your real email address.
VITE_Q2=Can other people read my emails?
VITE_A2=No. Every visit to this websites creates a unique email address which has not been, and will never be used again. The address is for you only, and it is bound to the session of your web browser.
VITE_Q3=
VITE_A3=
VITE_A4=
VITE_A5=
VITE_Q6=
VITE_A6=
VITE_Q7=
VITE_A7=
VITE_Q8=
VITE_A8=
VITE_Q9=
VITE_A9=